<html>
<head>
    <title>OAuth Flask Demo</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>
<body>
<div>
    <h1>OAuth Demo</h1>
    {% if current_user.is_authenticated %}
        <h2>Hi, {{ current_user.nickname }}!</h2>
        <p><a href="{{ url_for('logout') }}">Logout</a></p>
    {% else %}
        <div class="container">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header"></div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="#">About</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="jumbotron">
            <h1 class="text-left">Login</h1>
                <a class="btn btn-github-style btn-lg btn-block"
                   href="{{ url_for('oauth_authorize', provider='dropbox') }}">
                    <i class="fab fa-dropbox"></i> <span>Login with <strong>Dropbox</strong></span>
                </a>
        </div>
    </div>
    {% endif %}
</div>

</body>
</html>
